# Dependencies for parte2
/parte2/node_modules
/parte1
# Generated reports for parte2
/parte2/reports

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
/parte2/.env

# IDE / Editor specific
.vscode/
.idea/
.DS_Store

